# Quarkus
QUARKUS_PORT=8080

# Postgres
POSTGRES_DB=tarefas_db
POSTGRES_USER=tarefas
POSTGRES_PASSWORD=tarefas
POSTGRES_PORT=5432
POSTGRES_JDBC_CONNECTION=jdbc:postgresql://postgres-db:${POSTGRES_PORT}/${POSTGRES_DB}
